
<div class="profile">
    <div class="card w-75">
        <div class="card-img">
            <i class="fa fa-user card-img-top"></i>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{currentUser.username}}</h5>
        </div>
        <table class="table table-bordered">
                <tbody class="text-center">
                  <tr>
                    <td class="w-50">Name</td>
                    <td class="w-50">{{currentUser.name}}</td>
                  </tr>
                  <tr class="w-50">
                    <td class="w-50">ID</td>
                    <td class="w-50">{{currentUser.id}}</td>
                  </tr>
                </tbody>
              </table>
        <!-- <div class="card-body">
            <a href="#" class="card-link">Edit</a>
        </div> -->
    </div>
</div>
